<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../Anh/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="../CSS/Login.css">
   
    <script src="../link/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../link/ad_login.js"></script>
    <script src="../link/global.js"></script>
  
</head>
<body ng-app="AppBanHang" ng-controller="LoginCtrl">
  
        <div class="content">
            <form action="">
                <h1>Login</h1>
                <div class="inbox tk">
                    <input ng-model="username" id="tailkhoan" type="text" placeholder="Usename">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="inbox mk">
                    <input ng-model="password" id="matkhau" type="password" placeholder="Password">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="remember-mk">
                    <label for=""><input type="checkbox">nhớ mật khẩu</label>
                    <a href="">Quên mật khẩu</a>
                </div>
                <button type="button"  ng-click="login()" class="btn">Login</button>
                <div class="linkk">
                    <p>Bạn chưa có tài khoản?<a style="color: aliceblue;" href="">Đăng ký</a></p>
                </div>
            </form>
        </div>

        <script> 
           
        </script>
</body>
</html>