<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quan ly</title>
    <link rel="stylesheet" href="../css/Quanly.css">
</head>
<body>
    <div id="container">
        <div class="ndtrai" style="color: #ffffff;">
            <div class="div1" >
                <img style="width: 30px;height: 30px;padding: 5px;border-radius: 10px;margin-left: 18px;" src="../anhhoa/hoa1.jpg" alt="">
                <p >
                    <strong style="font-size: 14px;">Hoa Yêu Thương</strong>
                </p>
            </div>
            <div class="div2">
                <img style="width: 40px;height: 40px;padding: 5px;border-radius: 50px;margin-left: 10px;border: 4px solid #ffffff;" src="../anhhoa/WIN_20220509_21_23_13_Pro.png" alt="">
                <p>
                    <strong style="font-size: 13px;">Welcome,<br> Bao Nguyen</strong>
                </p>
            </div>
            <div class="noidung">
                <ul class="home">
                    <li> <h3 >HOME</h3></li>
                </ul>
                <ul class="sanpham">
                    <li>
                        Sản Phẩm
                    </li>
                </ul>
                <ul class="sanpham_con">
                    <li><a href="#">Danh sách sản phẩm</a></li>
                    <li><a href="#">Quản lý số lượngp</a></li>
                    <li><a href="#">Quản lý giá cả</a></li>
                </ul>
               
                <ul class="donhang">
                    <li>
                        Quản lý đơn hàng
                    </li>
                </ul>
                
                <ul class="donhang_con">
                    <li><a href="#">Danh sách đơn hàng</a></li>
                    <li><a href="#">Thông tin đơn hàng bán</a></li>
                
                </ul>
                <ul class="khachhang">
                    <li>
                        Quản lý khách hàng
                    </li>
                </ul>
                
                <ul class="khachhang_con">
                    <li><a href="#">Danh sách khách hàng</a></li>
                    <li><a href="#">Thông tin khách hàng</a></li>
                    
                </ul>
                <ul class="thongke">
                    <li>
                        Thống kê
                    </li>
                </ul>
                
                <ul class="thongke_con">
                    <li><a href="#">Doanh thu</a></li>
                    <li><a href="#">Số lượng đơn hàng</a></li>
                    <li><a href="#">Sản phẩm bán chạy</a></li>
                </ul>
                <ul class="capnhat">
                    <li>
                        Cập nhật website
                    </li>
                </ul>
                
                <ul class="capnhat_con">
                    <li><a  href="#">Thông tin liên hệ</a></li>
                    <li><a href="#">chính sách</a></li>
                    <li><a href="#">Thông tin vận chuyển</a></li>
                </ul>
                <ul class="taikhoan">
                    <li>
                        Quản lý tài khoản
                    </li>
                </ul>
                
                <ul class="taikhoan_con">
                    <li><a href="#">Thông tin tài khoản</a></li>
                    <li><a href="#">Phân quyền truy cập</a></li>
                </ul>
            </div>
        </div>
        <div class="ndphai">
            <div class="tieude">
                <ul>
                    <li>
                        <a href=""></a>
                    </li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <div class="search">
                    <input style="height: 100%;" type="search" placeholder="search">
                </div>
            </div>
            <div class="content">
                
            </div>
        </div>
    </div>
</body>
</html>